### This is a markdown cell

In [3]:
my_string = "teststring"
print(my_string)

teststring

In [4]:
import pandas as pd

#read in data from my github repo
data = pd.read_csv("https://raw.githubusercontent.com/CaitlinCasar/Casar2020_DeMMO_MineralHostedBiofilms/master/orig_data/site_geochem.csv")
data.head()

,Site,Date,methane,hydrogen,CO,nitrate,ammonia,sulfide,sulfate,ferrous_iron,DOC
0,D1,12/7/15,NaN,NaN,NaN,NaN,NaN,NaN,310.0,NaN,NaN
1,D1,5/2/16,NaN,NaN,NaN,0.5,0.06,8.0,355.0,2.28,NaN
2,D1,5/18/16,0.000013,2.521520e-07,0.000013,0.2,0.08,0.0,340.0,2.60,0.486
3,D1,7/11/16,0.000008,3.551420e-08,0.000001,0.2,0.09,0.0,312.0,2.12,0.420
4,D1,9/20/16,0.000003,8.363680e-09,0.000003,0.3,0.08,0.0,302.0,2.49,0.450